---
// Ours
import { type ContentBlock } from "../types/main";
import { md } from "../lib/markdown";
import * as style from "../styles/card.styles";

// Types
interface Props extends ContentBlock {}

// Props
const { heading, content } = Astro.props;

// Local
const copy = content?.copy ?? "";
const html = await md.block(copy);
---


{heading && (
  <article class={style.root}>
    <h2 class={style.heading}>{heading}</h2>
    <div
      class={style.list}
      set:html={html}
    />
  </article>
)}
