---
// Ours
import { type ContentCollection } from "../types/main";
import Stagger from "../components/Stagger.astro";
import Card from "../components/Card.astro";
import { CollectionType } from "../constants/main";
import { getAnchor } from "../lib/anchorize";
import * as style from "../styles/collection.styles";

// Types
interface Props extends ContentCollection {}

// Props
const {
  heading,
  type,
  sections,
} = Astro.props;

// Local
const Component = type === CollectionType.STAGGERED ? Stagger : Card;
const { id } = getAnchor(heading || "");
---


<section
  class={style.root}
  id={id}
>

  {heading && <h2 data-sr>{heading}</h2>}

  {sections?.map(block => (
    <Component
      content={block.content}
      heading={block.heading}
    />
  ))}

</section>
