---
// Ours
import { type ContactBlock } from "../types/main";
import { getAnchor } from "../lib/anchorize";
import { isDefined } from "../lib/isDefined";
import { Label } from "../constants/main";
import * as style from "../styles/contact.styles";

// Types
interface Props extends ContactBlock {}

// Props
const {
  heading,
  contact,
  address,
} = Astro.props;

// Local
const { id } = getAnchor(heading || "");
const hasContacts = isDefined(contact);
const hasAddress = isDefined(address);
---


<section
  class={style.root}
  id={id}
>

  {heading && <h2 class={style.heading}>{heading}</h2>}

  {hasContacts && (
    <address class={style.contact}>
      <p>{Label.EMAIL}: {contact.email}</p>
      <p>{Label.PHONE}: {contact.phone}</p>
      <p>{Label.FAX}: {contact.fax}</p>
    </address>
  )}

  {hasAddress && (
    <p class={style.address}>
      <span>{address.street}</span>
      <br />
      <span>{address.unit}</span>
      <br />
      <span>{address.city}</span>{", "}
      <span>{address.state}</span>
      <span>{address.zipcode}</span>
    </p>
  )}

</section>
