---
// Ours
import { type Footer } from "../types/main";
import { getHref } from "../lib/phone";
import { isDefined } from "../lib/isDefined";
import * as style from "../styles/footer.styles";

// Types
interface Props extends Footer {}

// Props
const {
  heading,
  resources,
  copyright,
} = Astro.props;

// Local
const year = new Date().getFullYear();
const hasResources = isDefined(resources);
---


<footer class={style.root}>
  <div class={style.content}>

    {heading && <h3 class={style.heading}>{heading}</h3>}

    {hasResources && (
      <dl class={style.list}>
        {resources.map(resource => (
          <div class={style.item}>
            <dt>{resource.key}</dt>
            <dd>
              <a href={getHref(resource.value || "")}>{resource.value}</a>
            </dd>
          </div>
        ))}
      </dl>
    )}

    <p class={style.legal}>
      <small>Copyright {year} {copyright || "."}</small>
    </p>
  </div>
</footer>
