---
import { getAnchor } from "../lib/anchorize";
import IconButton from "./IconButton.astro";
import * as style from "../styles/nav.styles";

interface Props {
  sections: string[];
}


const { sections } = Astro.props;
const contact = sections.pop() || "";
---


<nav class={style.root}>
  <div class={style.container}>
    <IconButton
      controls="menu"
      label="Open"
    />
    <ul
      id="menu"
      class={style.menu}
    >

      {sections.map(item => (
        <li>
          <a
            class={style.link}
            href={getAnchor(item).href}
          >
            {item}
          </a>
        </li>
      ))}

      <li class={style.close}>
        <IconButton
          controls="menu"
          label="Close"
        />
      </li>
    </ul>
    <a
      class={style.email}
      href={getAnchor(contact).href}
    >
      <span>{contact}</span>
    </a>
  </div>
</nav>


<script>
  const $menu = document.getElementById("menu");
  const buttons = [...document.querySelectorAll("nav button")];
  const controls = [...document.querySelectorAll("nav ul a"), ...buttons];

  function toggleMenu() {
    if (window.innerWidth < 1080) {
      const value = $menu?.toggleAttribute("data-open") || false;

      buttons.forEach(button => button.setAttribute("aria-expanded", value.toString()));
    }
  }

  controls.forEach(item => item.addEventListener("click", toggleMenu));
</script>
